@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 250;
  --gray-100: #F5F7F9;
  --gray-200: #F5F5FA;
  --gray-300: #E8EDF1;
  --gray-400: #DFDFDF;
  --gray-500: #D9D9D9;
  --gray-600: #AFAEBF;
  --gray-700: #7E7E8F;
  --gray-800: #828292;
  --green: #2DCE9B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)) 
}

input:focus {
  outline: none;
}